<div class="container mx-auto max-w-[1320px] py-10 text-center">
    <h2 class="text-[2.25rem] font-semibold text-[#4D4D4D]">Manage your entire community <br> in a single system</h2>
    <p class="text-[#717171] mb-5">Who is Nextcent suitable for?
    </p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-[100px] m-10 md:m-0">
        <div class="shadow-lg p-10 rounded-lg">
            <img class="mx-auto" src="img/icon-01.png" alt="">
            <h3 class="text-[1.75rem] font-bold text-[#4D4D4D] my-3">Membership Organisations</h3>
            <p>Our membership management software provides full automation of membership renewals and payments</p>
        </div>
        <div class="shadow-lg p-10 rounded-lg">
            <img class="mx-auto" src="img/icon-02.png" alt="">
            <h3 class="text-[1.75rem] font-bold text-[#4D4D4D] my-3">National Associations</h3>
            <p>Our membership management software provides full automation of membership renewals and payments</p>
        </div>
        <div class="shadow-lg p-10 rounded-lg">
            <img class="mx-auto" src="img/icon-03.png" alt="">
            <h3 class="text-[1.75rem] font-bold text-[#4D4D4D] my-3">Clubs And Groups</h3>
            <p>Our membership management software provides full automation of membership renewals and payments</p>
        </div>
    </div>
</div>