<div class="bg-[#F5F7FA] py-10 px-5 md:px-0">
    <div class="container mx-auto max-w-[1320px] grid grid-cols-1 md:grid-cols-2 items-center">
        <div>
            <h3 class="text-[2.25rem] font-semibold">Helping a local <br> <span class="text-[#4CAF4F]">business reinvent
                    itself</span></h3>
            <p>We reached here with our hard work and dedication</p>
        </div>
        <div>
            <div class="grid grid-cols-1 md:grid-cols-2 text-center md:text-left">
                <div class="flex flex-col md:flex-row items-center">
                    <img class="m-5" src="img/icon-04.png">
                    <div>
                        <h4 class="text-[1.75rem] text-[#4D4D4D] font-bold">2,245,341</h4>
                        <p>Members</p>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row items-center">
                    <img class="m-5" src="img/icon-05.png">
                    <div>
                        <h4 class="text-[1.75rem] text-[#4D4D4D] font-bold">46,328</h4>
                        <p>Clubs</p>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row items-center">
                    <img class="m-5" src="img/icon-06.png">
                    <div>
                        <h4 class="text-[1.75rem] text-[#4D4D4D] font-bold">828,867</h4>
                        <p>Event Bookings</p>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row items-center">
                    <img class="m-5" src="img/icon-07.png">
                    <div>
                        <h4 class="text-[1.75rem] text-[#4D4D4D] font-bold">1,926,436</h4>
                        <p>Payments</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>